/***************************** Roboto Google Font *****************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/***************************** Roboto Google Font *****************************/
html,
body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #F7F7F7;
    color: #555;
}

.text-press {
font-size: 14px;
}

.app {
    padding: 30px;
}

.innerContent .icon i {
    font-size: 50px;
    color: #2a9898;
}

.cancelNotificationSuccess, .cancelNotificationError  {
    background-color: rgba(0, 0, 0, 0.5); position: absolute; top: 10px; right: 15px; height: 25px; width: 25px; ; text-align: center; line-height: 25px; border-radius: 50%; cursor: pointer;
  }
  .notificationSuccess, .notificationError  {
    position: absolute; bottom: 25px; left: 25px; bottom: 25px; border-radius: 15px; position: fixed; width: 275px; z-index: 5000; background-color: rgb(137, 255, 137); display: none;
  }
  
  
  .notificationSuccess {
    background-color: rgb(65, 206, 97);
  }
  .notificationError {
    background-color: #dc3545;
  }

